{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "css/style.css" %}>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>4 laba</title>
</head>
<body>
    <header id="header">
        <img src="{% static "img/logo_cat.png" %}" id="logo">
        <a href="{% url 'home' %}" class="nav_link">главная</a>
        <a href="{% url 'gallery' %}" class="nav_link">галерея</a>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <hr>
        <ul>
            <li>Проще позвонить чем у кого то занимать!</li>
            <li>8-800-535-35-35</li>
            <li>nenaebalovo@loxa.net</li>
        </ul>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
</body>
</html>