{% extends "gallery_4_laba/base.html" %}
{% block content %}
<div class="album py-5 bg-light" style="min-height: 85vh;">
    <div class="container">
        
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in products %}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ product.photo_url }}" class="bd-placeholder-img card-img-top">

                    <div class="card-body">
                        <h3>{{ product.name }}</h3>
                        <p class="card-text">{{ product.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="edit/{{product.id}}" class="btn btn-sm btn-outline-secondary">Edit</a>
                                <a href="delete/{{product.id}}" class="btn btn-sm btn-outline-secondary">Delete</a>
                            </div>
                            <small class="text-muted">{{ product.price }}&#36;</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}